/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

/.cache

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build

.pnp.*
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
